appdirs==1.4.3
Django==1.10.6
django-user-agents==0.3.0
gunicorn==19.7.1
olefile==0.44
packaging==16.8
Pillow==8.2.0
pyparsing==2.2.0
python-enumeration==0.1
PyYAML==3.12
six==1.10.0
ua-parser==0.7.3
user-agents==1.1.0
