{% extends "base.html" %}
{% load static %}

{% block title %}Showroom App{% endblock %}

{% block auth%}{# no auth header here! #}{% endblock %}

{% block content %}
{% if request.user_agent.os.family == 'iOS' %}
    <h1>Tap the icon to download</h1>
    <p>
        <a href="itms-services://?action=download-manifest&url={% static 'demoapp/adapt.manifest.plist' %}">
          <img class="centered-img app-icon" src="{% static 'demoapp/adapt.512x512.png' %}" alt="Adapt App" />
        </a>
    </p>
    <h3>Please note!</h3>
    <p>You might run into a system message after the download that the app is from an 'untrusted developer'. If you see this, please follow <a href="http://www.imore.com/how-install-enterprise-apps-ios-9">this guide</a>.</p>
{% elif request.user_agent.os.family == 'Android' %}
    <h1>Tap the icon to download</h1>
    <p>
        <a href="{% static 'demoapp/EYMobileLearning.apk' %}">
          <img class="centered-img app-icon" src="{% static 'demoapp/adapt.512x512.png' %}" alt="Adapt App" />
        </a>
    </p>
{% else %}
    <p>other</p>
    {% endif %}
{% endblock %}
