li a, a:visited {
    color: #2c7439;
}

h2 {
    color: #a41515;
}

.authentication-container {
    background-color: #c2c2c2;
    min-width: 120px;
}

.authentication-container > * {
    display: inline;
}

.authentication-container > ul {
    float: right;
}

.authentication-container > ul, li {
    margin: 0;
    padding: 0 4px 0 0;
}

.authentication-container > ul > li {
    display: inline-block;
    width: 100px;
    text-align: right;
    background: #f5dd5d;
}

.content-container {
    width: 80%;
    min-width: 200px;
    max-width: 400px;
    margin: auto;
}

#applist {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

#applist > li {
    width: 80px;
    height: 2em;
    background-color: #FFFFCC;
    margin: 0 4px 4px 0;
    text-align: center;
}

.icon-large {
    max-width: 120px;
    max-height: 120px;
}

#download-button {
    width: 100%;
}

.centered {
    text-align: center;
    margin: auto;
}

.centered-img {
    display: block;
    margin: 0 auto;
}
