@font-face {
    font-family: eyInterstate;
    src: url(EYInterstate-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: eyInterstate;
    src: url(EYInterstate-Light.ttf);
    font-weight: normal;
}

body {
    background-color: #999999;
    color: #ffffff;
    font-family: eyInterstate, sans-serif;
    font-weight: lighter;
}

h1 {
    color: #ffffff;
    padding-top: 100px;
    background: url("hand@2x.png") no-repeat right bottom;
    background-size: 80px;
}

h1, h2 {
    border-bottom: 1px solid;
    border-color: #ffffff;
}

h2, h3 {
    color: #ffe600;
}

li a, a:visited {
    color: #336699;
}

input {
    border-style: hidden;
    min-height: 20px;
    font-size: large;
}
button {
    min-height: 28px;
    border-style: hidden;
    font-size: large;
    font-weight: 500;
}

.authentication-container {
    background-color: #7fd1d6;
    min-width: 120px;
}

.authentication-container > * {
    display: inline;
}

.authentication-container > ul {
    float: right;
}

.authentication-container > ul, li {
    margin: 0;
    padding: 0 4px 0 0;
}

.authentication-container > ul > li {
    display: inline-block;
    width: 100px;
    text-align: right;
    background: #f04c3e;
}

.content-container {
    width: 90%;
    min-width: 200px;
    max-width: 400px;
    margin: auto;
}

.box {
    background: #ffe600;
    color: #333333;
    height: 25%;
    max-height: 140px;
    margin-bottom: 10px;
    text-align: center;
    vertical-align: middle;
    font-size: larger;
    font-weight: bold;
    padding: 10px;
}

.hidden-link, .hidden-link:visited {
    color: #333333;
    text-decoration: none;
}

/** authentication **/

.auth-form {
    margin: auto;
    display: inline-block;
    text-align: right;
}

.centerbox {
    display: flex;
    flex-direction: column;
}

.centerbox > * > button {
    background: #ffe600;
    width: 100%;
}

/** app list **/

#applist {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

#applist > li {
    width: 80px;
    height: 2em;
    background-color: #FFFFCC;
    margin: 0 4px 4px 0;
    text-align: center;
}

.icon-large {
    max-width: 120px;
    max-height: 120px;
}

#download-button {
    width: 100%;
}

.centered {
    text-align: center;
}

.centered-img {
    display: block;
    margin: 0 auto;
}

.app-icon {
    max-width: 70%;
}