@font-face {
    font-family: eyInterstate;
    src: url(EYInterstate-Regular.ttf);
}

body {
    background-color: #00a3ae;
    color: #333333;
    font-family: eyInterstate;
}

li a, a:visited {
    color: #336699;
}

.authentication-container {
    background-color: #7fd1d6;
    min-width: 120px;
}

.authentication-container > * {
    display: inline;
}

.authentication-container > ul {
    float: right;
}

.authentication-container > ul, li {
    margin: 0;
    padding: 0 4px 0 0;
}

.authentication-container > ul > li {
    display: inline-block;
    width: 100px;
    text-align: right;
    background: #f04c3e;
}

.content-container {
    width: 90%;
    min-width: 200px;
    max-width: 400px;
    margin: auto;
}

.box {
    height: 20%;
    max-height: 100px;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 10px;
    text-align: center;
}

.hidden-link, .hidden-link:visited {
    color: #333333;
    text-decoration: none;
}

.auth-form {
    /* ... */
}

#applist {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

#applist > li {
    width: 80px;
    height: 2em;
    background-color: #FFFFCC;
    margin: 0 4px 4px 0;
    text-align: center;
}

.icon-large {
    max-width: 120px;
    max-height: 120px;
}

#download-button {
    width: 100%;
}

.centered {
    text-align: center;
    margin: auto;
}

.centered-img {
    display: block;
    margin: 0 auto;
}

.app-icon {
    max-width: 70%;
}